<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Edit Data</title>
  <link rel="stylesheet" href="../../css/bootstrap.min.css">
  <link rel="stylesheet" href="../../css/all.min.css">
  <link rel="stylesheet" href="../../css/style.css">


</head>

<body class="bg-dark text-white">

  <section class="form-section">
    <div class="container vh-100">
      <div class="row vh-100 align-items-center justify-content-center">
        <div class="col-9 main-wrapper">
          <h1 class="mb-4">Enter Details</h1>
          <form id="registered" class="row g-3" method="post" action="/updateData">
            <input placeholder="Enter Name..." name="id" type="hidden" class="form-control inputs"
              value="<%= editData.id %>">
            <div class="col-md-6">
              <label for="name" class="form-label">Name</label>
              <input placeholder="Enter Name..." name="name" type="text" class="form-control inputs"
                value="<%= editData.name %>">
            </div>
            <div class="col-md-6">
              <label for="phone" class="form-label">Contact</label>
              <input placeholder="Enter Phone..." name="phone" type="number" class="form-control inputs"
                value="<%= editData.phone %>">
            </div>
            <div class="col-md-6">
              <label for="email" class="form-label">Email</label>
              <input placeholder="Enter Email..." name="email" type="email" class="form-control inputs"
                value="<%= editData.email %>">
            </div>
            <div class="col-md-6">
              <label for="zip" class="form-label">Zip</label>
              <input placeholder="Enter Zip..." name="zip" type="number" class="form-control inputs"
                value="<%= editData.zip %>">
            </div>
            <div class="col-md-6">
              <label for="city" class="form-label">City</label>
              <input placeholder="Enter City" name="city" type="text" class="form-control inputs"
                value="<%= editData.city %>">
            </div>
            <div class="col-12">
              <label for="address" class="form-label">Address</label>
              <input placeholder="Enter Address" name="address" type="text" style="width: 98%;"
                class="form-control inputs" placeholder="1234 Main St" value="<%= editData.address %>">
            </div>

            <div class="col-12">
              <button type="submit" class="btn btn-primary">Update</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>

  <script src="../../javascripts/code.jquery.com_jquery-3.7.1.min.js"></script>
  <script src="../../javascripts/cdnjs.cloudflare.com_ajax_libs_jquery-validate_1.19.5_jquery.validate.min.js"></script>
  <script src="../../javascripts/script.js"></script>
</body>

</html>